#dropdown-button-dark-example1 {
  margin-top: 2em;
}

#dropdown-button-dark-example1,
#dropdown-button-dark-example2 {
  width: 100%;
  background-color: #84cc16;
  border: none;
  font-weight: bold;
}

.selected {
  color: red;
  background-color: white;
}

.dropdown-menu {
  overflow-y: scroll;
  height: 300%;
  width: 100%;
  overflow-x: none !important;
}

.mt-2 {
  background-color: #374151;
}
